* {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'Forma DJR Micro' ;
    src: url(fonts/forma-djr-micro.otf);
    src: url(fonts/forma-djr-micro.otf?#iefix) format("embedded-opentype"), url("fonts/forma-djr-micro.woff") format("woff"), url("fonts/forma-djr-micro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

  @font-face {
    font-family: 'Forma DJR Display Greek';
    src: url(fonts/forma-djr-display.otf);
    src: url(fonts/forma-djr-display.otf?#iefix) format("embedded-opentype"), url("fonts/forma-djr-display.woff") format("woff"), url("fonts/forma-djr-display.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
    
  body {
    background-color: #e6e6e6;
    border: 5px solid #0096d6; 
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    font-family: Forma DJR Micro; 
  }

  a {
    text-decoration: none;
    color: #000000;
  }
 
  .heading {
    margin: 0 auto;
    color: #000000;
  }

  .heading > h1 {
    font-size: 35pt;
  }
  
  .heading > h2 {
    font-size: 20pt;
  }

  h3 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 16pt;
  }
  
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20%;
  }
  

.bottom-center {
    width: 40px; 
    height: 40px; 
}

.upload-container {
  margin: 0 auto;
  color: black;
}

.custom-button {
  border: 1px solid #e6e6e6;
  background-color: #0096d6;
  color: #fff;  
  border-radius: 10px;
  outline: none; 
  transition: background-color 0.3s ease-in-out; 
  width: 290px;
  height: 45px;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #0081b3;
}

.custom-button:focus {
  border-color: #bfbfbf; 
}

.custom-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
}

.custom-input {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 10px 20px; 
  outline: none; 
  height: 25px;
  width: 250px; 
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.custom-input:hover {
  border: 1px solid #0096d6;
}

.custom-input:focus {
  border: 1px solid #0096d6;
}

table {
  margin: 0 auto;
}

td {
  border: 2px solid #0096d6;
  background-color: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 200px;
  border-radius: 25px;
}
.modal {
  display: none;
  border: 2px solid #0096d6;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}