<!DOCTYPE html>
<html>
<head>
    <title>SCS QA Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <table>
        <tr>
            <td>
                <header class="heading">
                    <h1 class="">SCS</h1>
                    <h2 class="">Quality Assurance<br>Tool</h2>
                </header>
                <div class="upload-container">
                    <form method="POST">
                        <input type="password" name="password" placeholder="Password" class="custom-file-input"><br>
                        <input type="submit" value="Login" class="upload-button">
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <div class="image-container">
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" width="50" height="50">
    </div>
</body>
</html>
