<!DOCTYPE html>
<html>
<head>
    <title>SCS QA Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/processing.js') }}"></script>
</head>

<body>
<table>
    <tr>
        <td>
            <header class="heading">
                <h1 class="">SCS</h1>
                <h2 class="">Quality Assurance Tool</h2>
            </header>
            <br>

            <div class="upload-container">
                <h3 class="">Regular Content</h3>
                <form action="upload-file" method="POST" enctype="multipart/form-data" onsubmit="showProcessingMessage(this)">
                    <input type="file" name="Regular" class="custom-input">
                    <br><br>
                    <input type="submit" value="Upload" class="custom-button">
                </form>
                <br>
                <h3 class="">Upload JSON</h3>
                <form action="upload-file" method="POST" enctype="multipart/form-data">
                    <input type="file" name="JSON" class="custom-input">
                    <br><br>
                    <input type="submit" value="Upload" class="custom-button">
                </form>
                <div id="processingModal" class="modal">
                <div class="modal-content">
                    <p>Processing...</p>
                </div>
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" width="50" height="50">
            </div>

        </div>
        </td>
    </tr>

</table>

</body>
</html>
