<!DOCTYPE html>
<html>
<head>
    <title>SCS QA Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<table>
    <tr>
        <td>
            <header class="heading">
                <h1 class="">SCS</h1>
                <h2 class="">Quality Assurance<br>Reporting Tool</h2>
                <h3 class="">beta</h3>
            </header>
            <br>

            <div class="upload-container">
                <h3 class="heading__title">Regular Content</h3>
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="Regular" class="custom-file-input">
                    <input type="submit" value="Upload" class="upload-button">
                </form>
                <br>
                <h3 class="heading__title">Granular Content</h3>
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="Granular" class="custom-file-input">
                    <input type="submit" value="Upload" class="upload-button">
                </form>
            </div>
        </td>
    </tr>

</table>
<div class="image-container">
    <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" width="50" height="50">
</div>
</body>
</html>
