<!DOCTYPE html>
<html>
<head>
    <title>SCS QA Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/processing.js') }}"></script>
</head>

<body>
    <div class="hero-container">
        <h1>SCS Quality Assurance Tool</h1>
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" class="right-aligned-image">
    </div>

    <div class="container">
        <div class="menu">
            <h4><a href="{{ url_for('mainpage') }}">Home</a><br></h4>
            <hr>
            <h3>QA Reports</h3>
            <hr>
            <ul>
                <a href="{{ url_for('regular_content') }}">Regular Content</a><br>
                <a href="{{ url_for('json_upload') }}">Upload JSON</a><br>
                <a href="{{ url_for('json_review') }}">Review JSON</a><br>
            </ul>
            <h3>Documentation</h3>
            <hr>
            <ul>
                <a href="{{ url_for('documentation') }}">User Guide</a><br>
                <a href="#">SCS</a><br>
            </ul>
        </div>
        <div class="content">
            <h3 class="">JSON Review</h3>
            <form action="json-review" method="GET" >
                <input type="text" name="filename" placeholder="Enter container name" class="custom-input">
                <br><br>
                <input type="submit" value="View JSON" class="custom-button">
                <br>
            </form>
            <br><br>
            <pre>
                {% if json_data %}
                    {{ json_data }}
                {% endif %}
            </pre>
        </div>
    </div>
    <div class="footer-container">
        <h4>HP Inc. Restricted, Copyright 2023 HP Inc. Company.</h4>
    </div>

</body>

</html>
