<!DOCTYPE html>
<html>
<head>
    <title>SCS QA Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <div class="hero-container">
        <h1>SCS Quality Assurance Tool <span class="small-text">Season 2</span></h1>
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" class="right-aligned-image">
    </div>

    <div class="container">
        <div class="menu">
            <h4><a href="{{ url_for('mainpage') }}">Home</a><br></h4>
            <hr>
            <h3>QA Reports</h3>
            <hr>
            <ul>
                <a href="{{ url_for('regular_content') }}">Regular Content</a><br>
                <a href="{{ url_for('granular_content') }}">Granular Content</a><br>
                <a href="{{ url_for('battery_life_content') }}">Battery Life</a><br>
                <a href="{{ url_for('matrix_file_content') }}">Matrix File</a><br>
                <a href="{{ url_for('json_upload') }}">Upload JSON</a><br>
                <a href="{{ url_for('json_review') }}">Review JSON</a><br>
            </ul>
            <h3>Documentation</h3>
            <hr>
            <ul>
                <a href="{{ url_for('user_guide') }}">User Guide</a><br>
                <a href="#">SCS</a><br>
            </ul>
        </div>
        <div class="content">
            <h3 class="">Matrix File</h3><br>
                <form action="scs-matrix-file" method="POST" enctype="multipart/form-data">
                    <input type="file" name="matrix" class="custom-input">
                    <br><br>
                    <input type="submit" value="Upload" class="custom-button">
                </form><br>
                Note: The excel file must be in the same format as scs export report.
        </div>
    </div>
    <div class="footer-container">
        <h4>HP Inc. Restricted, Copyright 2024 HP Inc. Company.</h4>
    </div>

</body>

</html>
