<!DOCTYPE html>
<html>
<head>
    <title>SCS QA Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <div class="hero-container">
        <h1>SCS Quality Assurance Tool <span class="small-text">Season 2</span></h1>
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" class="right-aligned-image">
    </div>

    <div class="container">
        <div class="menu">
            <h4><a href="{{ url_for('mainpage') }}">Home</a><br></h4>
            <hr>
            <h3>QA Reports</h3>
            <hr>
            <ul>
                <a href="{{ url_for('regular_content') }}">Regular Content</a><br>
                <a href="{{ url_for('granular_content') }}">Granular Content</a><br>
                <a href="{{ url_for('battery_life_content') }}">Battery Life</a><br>
                <a href="{{ url_for('matrix_file_content') }}">Matrix File</a><br>
                <a href="{{ url_for('json_update') }}">Upload JSON</a><br>
                <a href="{{ url_for('json_review') }}">Review JSON</a><br>
            </ul>
            <h3>Documentation</h3>
            <hr>
            <ul>
                <a href="{{ url_for('user_guide') }}">User Guide</a><br>
                <a href="#">SCS</a><br>
            </ul>
        </div>
        <div class="content">
            <h3>User Guide</h3><br>
            The SCS QA Tool is a software solution designed to enhance the accuracy data acquired by SCS Team.
            This tool streamlines the process of cleaning and verifying SKU Accuracy Reports,
            ensuring that the acquired content aligns seamlessly with HP's content database.<br>
            The tool first comprehensively cleans the SKU Accuracy Report, addressing common data inconsistencies, formatting errors, and duplications.<br>
            After cleaning the data, the tool performs a robust comparison with the product database.
            It identifies discrepancies, inconsistencies, and mismatches between the acquired content and the existing records.<br> 

            <br>
            <h4>Regular Content</h4><br>
            From SCS scs-scs-main page, go to reports:<br>
            <img src="{{ url_for('static', filename='images/SCS1.png') }}" alt="" width="900" height="600"><br><br>
            Input the SKUs to be audited and click SKU Accuracy<br>
            <img src="{{ url_for('static', filename='images/SCS2.png') }}" alt="" width="900" height="600"><br><br>
            Upload the excel file to Regular content<br>
            <img src="{{ url_for('static', filename='images/SCS3.png') }}" alt="" width="900" height="300"><br><br>
            <br>
        </div>
    </div>
    <div class="footer-container">
        <h4>HP Inc. Restricted, Copyright 2024 HP Inc. Company.</h4>
    </div>

</body>

</html>